body{
  background-color: #ff4c68 !important
}


.words{
  text-align: center;
  padding: 3% 15% 2% 15%;
  background-color: #ff4c68;
  color: #fff;
  font-size: 3rem;
}



.button-random{
  background-color: #ff4c68;
  padding: 0 15% 7% 15%;
}

.reset-button{
  margin: 0 3%;
  width: 106px;
}

td {
  width: 150px;
}



.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar{
  padding: 0 0 4.5rem;
}



.nav-item{
padding: 0 10px;
}

h2{
  padding: 2%;
}

.navbar-brand{
  font-size: 2rem !important;
}

.btn-custom{
  font-size: 3rem !important;
  border-color: transparent !important;

}
